[submodule "references/Robinion_Parallel_IsaacLab"]
	path = references/Robinion_Parallel_IsaacLab
	url = https://github.com/choirulprayoga/Robinion_Parallel_IsaacLab.git
[submodule "references/Robinion_InverseKinematic"]
	path = references/Robinion_InverseKinematic
	url = https://github.com/dimasrizky08/Robinion_InverseKinematic.git
[submodule "references/robinion_description"]
	path = references/robinion_description
	url = https://github.com/TKU-AIRO-Lab/robinion_description.git
