.venv/
.pytest_cache/
.ruff_cache/
**/__pycache__/
**/*.egg-info/
*.py[cod]

logs/
outputs/
artifacts/
docs/stage1.md
docs/stage2.md
videos/
wandb/


.vscode/settings.json
.vscode/launch.json
.vscode
